/* 
    /*add full-width input fields*/ 
    input[type=text], 
    input[type=password] { 
        width: 100%; 
        padding: 12px 20px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 2px solid #ccc; 
        box-sizing: border-box; 
    } 
    /* set a style for all buttons*/ 
    button { 
        background-color: #66cc66 ; 
        font-family: 'Crimson Pro', sans-Serif;
        color: white; 
        padding: 14px 30px; 
        margin: 8px 0; 
        cursor: pointer; 
        width: 100%; 
        border: 1px solid #000;
    } 
    
    /*set styles for the cancel button*/ 
    .starting{
      margin-left: 40%;
      margin-top: 20%;
    }

    .startinglog{

      background-color:#87ceeb;
    }
    
    .cancelbtn { 
        padding: 14px 20px; 
        background-color: #FF2E00; 
    } 

    /*float cancel and signup buttons and add an equal width*/ 
 
    .signupbtn { 
        float: left; 
        width: 50% 
    } 
    /*add padding to container elements*/ 
    .container { 
        padding: 16px; 
    } 
    /*define the modal’s background*/ 
      
    .modal { 
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0, 0, 0); 
        background-color: rgba(0, 0, 0, 0.4); 
        padding-top: 30px; 
    } 
    /*define the modal-content background*/ 
      
    .modal-content { 
        background-color: white; 
        margin: 5% auto 10% auto; 
        border: 1px solid #888; 
        width: 60%; 
    } 
    /*define the close button*/ 
      
    .close { 
        position: absolute; 
        right: 35px; 
        top: 15px; 
        color: #000; 
        font-size: 40px; 
        font-weight: bold; 
    } 
    /*define the close hover and focus effects*/ 
      
    .close:hover, 
    .close:focus { 
        color: red; 
        cursor: pointer; 
    } 
      
    .clearfix::after { 
        content: ""; 
        clear: both; 
        display: table; 
    } 
      
    @media screen and (max-width: 300px) { 
        .cancelbtn, 
        .signupbtn { 
            width: 100%; 
        } 
    }  */
    * {
        font-family: sans-serif;
      }
      .bg {
        background: #ffb347 ;
        bottom: 0;
        left: -50%;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
      }
      .header {
        background-color: #4a86e8ff;
        width: 100%;
        height: 100px;
        padding: 20px;
      }
      .logoName {
        color: white;
        font-weight: BOLD;
        font-size: 50px;
        position: fixed;
        offset: 50px;
        margin: 0 auto;
        margin-left: 60px;
        margin-top: -5px;
      }
      .logo {
        position: fixed;
        margin: 0 auto;
        margin-top: 0px;
        width: 60px;
      }
